*.mdproj
*.userprefs
*.resources
*.pdf
*.xls
*.pidb
*.rar
*.zip
*.csv
*.txt
*.config
*.suo
*.mdb
*.pdb
*.doc
*.xml
*.scc
*.edb
/CodeSnippetKit/bin
/CodeSnippetKit/obj
/Common/bin
/Common/obj
/.vs
/DevKit/bin
/DevKit/obj
/MVCTool/bin
/MVCTool/obj
/UpgradeMVC5ToMVC6/bin
/UpgradeMVC5ToMVC6/obj
!readme.txt
Thumbs.db
/CodeSnippetKit/CodeSnippetKit.csproj.user
